/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem; /*free space inside input box*/
  margin: 5px; /*distance to next object*/
  align-items: grid;
}

.go-back {
  margin-top: 5px;
  background-color: rgb(203, 203, 203);
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.save {
  margin-top: 5px;
  background-color: rgb(203, 203, 203);
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
button:hover {
  background-color: rgb(60, 60, 60);
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
